<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.genealogy.member.repository.mybatis.PermissionPersistenceMapper"><update id="updateAllById">update app_permission set permission_code=#{permissionCode},permission_name=#{permissionName},module_code=#{moduleCode},action_code=#{actionCode},description=#{description},created_at=#{createdAt},updated_at=#{updatedAt} where id=#{id}</update></mapper>