<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd"><mapper namespace="com.genealogy.review.repository.mybatis.AuditRecordPersistenceMapper">
 <insert id="insertRecord" useGeneratedKeys="true" keyProperty="id">insert into revision(clan_id,trace_id,target_type,target_id,change_type,before_data,after_data,diff_summary,submitter_id,submit_time,status,approved_at,rejected_reason) values(#{clanId},#{traceId},#{targetType},#{targetId},#{changeType},cast(#{oldPayload} as jsonb),cast(#{newPayload} as jsonb),#{diffSummary},#{submitterId},#{submitTime},#{status},#{approvedAt},#{rejectedReason})</insert>
 <update id="updateAllById">update revision set clan_id=#{clanId},trace_id=#{traceId},target_type=#{targetType},target_id=#{targetId},change_type=#{changeType},before_data=cast(#{oldPayload} as jsonb),after_data=cast(#{newPayload} as jsonb),diff_summary=#{diffSummary},submitter_id=#{submitterId},submit_time=#{submitTime},status=#{status},approved_at=#{approvedAt},rejected_reason=#{rejectedReason} where id=#{id}</update>
</mapper>